@using BCASRequireMates.ViewModel
@model UserRequestDocumentViewModel


<h2>Create Document Request</h2>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="SelectedDocumentId" class="control-label"></label>
        <select asp-for="SelectedDocumentId" class="form-control" asp-items="@(new SelectList(Model.Documents, "Id", "Name"))">
            <option value="">Select Document</option>
        </select>
        <span asp-validation-for="SelectedDocumentId" class="text-danger"></span>
    </div>

    <input type="submit" value="Submit Request" class="btn btn-primary" />
</form>
